@font-face {
  font-family: 'iconfont';  /* project id 532562 */
  src: url('https://at.alicdn.com/t/font_532562_zwiiq6mp642w3ik9.eot');
  src: url('https://at.alicdn.com/t/font_532562_zwiiq6mp642w3ik9.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_532562_zwiiq6mp642w3ik9.woff') format('woff'),
  url('https://at.alicdn.com/t/font_532562_zwiiq6mp642w3ik9.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_532562_zwiiq6mp642w3ik9.svg#iconfont') format('svg');
}
/* 头部部分 */
.head{
	width: 100%;
	height: 40px;
	background-color: #333333;
}
.heda-neikuan{
	width: 1226px;
	height: 40px;
	margin: 0 auto;
	/* margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto; */

}
.head-left{
	height: 40px;
	float:left;
}
.head-wenzi{
	color: #b0b0b0;
	font-size: 12px;
	line-height: 40px;
	float:left;
}
.head-wenzi.head-wenzi1 {
	color: #b0b0b0;
	font-size: 12px;
	line-height: 40px;
	float:left;
}
.head-wenzi:hover{
	color: #fff;
}
.head-shuxian{
	color:#424242;
	font-size:12px;
	line-height:40px;
	float:left;
	margin:0 6px;

}
.head-right{
	float:right;
	height:40px;
}
.head-buy{
	width: 103px;
	height: 40px;
	/* background-color: #eee; */
	float: left;
	margin-left: 15px;
	padding-left: 17px;
}
.head-buy:hover{
	background-color: #fff;
}
.head-buy:hover span:nth-child(1){
	color: #ff6700;
}
.head-buy:hover span:nth-child(2){
	color: #ff6700;
}
.head-buy span:nth-child(1){
	font-family: 'iconfont';
	line-height: 40px;
	float: left;
	margin-right: 4px;
	color: #b0b0b0;
}
.head-buy span:nth-child(2){
	line-height: 40px;
	float: left;
	color: #b0b0b0;
	font-size: 12px;
}
/* 导航部分 */
.nav{
	width: 1226px;
	height: 100px;
	margin: 0 auto;
}
.mav-logo{
	width: 55px;
	height: 55px;
	background-color:#ff6700;
	margin-top: 22.5px;
	float: left;
}
.nav-wenzi{
	height: 100px;
	margin-left: 189px;
	float: left;
}

.nav-wenzi a{
	float: left;
	line-height:100px;
	padding:0 10px;
	font-size:16px;
	color:#333333;
}
.nav-wenzi a:hover{
	color: #ff6670;
}
.nav-you{
	width: 296px;
	height: 50px;
	/* background-color: blue; */
	float: right;
	margin-top:25px;
}
.shurukuang{
	width: 243px;
	height: 48px;
	/* background-color: yellowgreen; */
	/* padding-left: 10px;
	padding-right: 10px; */
	border: 1px solid #e0e0e0;
	float: left;
}

input{
	width: 294px;
	height: 48px;
	text-align: center;
	font-size: 12px;
	/* padding-left: 80px; */
	float: left;
	border: 0;

}

.sousuo-bottom{
	width: 38px;
	height: 48px;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #e0e0e0;
	
	/* background-color: red; */
	float: right;
	/* padding-top: 14px; */
	margin: 0 auto;
}
.sousuo-bottom:hover{
	background-color: #ff6700;

}
.sousuo-item{
	width: 38px;
	height: 34px;
	margin: 0 auto;
}
.sousuo-bottom span{
	font-size: 24px;
	font-family: 'iconfont';
	text-align: center;
	color: #616161;
	line-height: 50px;
	margin: 8px;	
}
.sousuo-bottom span:hover{
	color:  #fff;
}


/* 明星单品部分 */
.star{
	width: 1226px;
	height: 438px;
	/* background-color: yellow */;
	margin : 0 auto;
}
.star-top{
	width: 1226px;
	height: 58px;
}
.star-top h2{
	line-height: 58px;
	font-size: 22px;
	color: #333333;
	font-weight: 200;
	float: left;
}
.star-anniu{
	float: right;
	width: 68px;
	height: 23px;
	margin-top: 24px;
	border:1px solid #e0e0e0;
}
.star-anniu span{
	float: left;
	width: 34px;
	height: 23px;
	text-align: center;
	line-height: 23px;
	font-size: 16px;
	color: #e0e0e0;
}
.star-anniu .star-anniu-active{
	width: 33px;
	border-left: 1px solid #e0e0e0;
	color: #b0b0b0;
	cursor: pointer;
}
.star-anniu .star-anniu-active:hover{
	color: #ff6700;
}
.star-bottom{
	width: 1226px;
	height: 340px;
	/* background-color: yellowgreen */;
}
.star-item{
	width: 234px;
	height: 301px;
	background-color: #fafafa;
	border-top: 1px solid #ffac13;
	float: left;
	padding-top: 39px;
	/* margin-top: 39px; */
	margin-right: 14px;
}
.star-item1{
	width: 160px;
	height: 166px;
	display: block;
	margin:0 auto;
}
.star-item2{
	font-size: 14px;
	font-weight: 400;
	color: #212121;
	text-align: center;
	margin-top: 22px;
}
.star-item3{
	font-size: 12px;
	font-weight: normal;
	color: #b0b0b0;
	text-align: center;
	margin-top: 3px;
}
.star-item4{
	font-size: 14px;
	font-weight: 400;
	color: #fe6709;
	text-align: center;
	margin-top: 12px;
}
.star-items1{
	margin: 0;
	border-top-color: #00c0a5;
}
.star-items2{
	border-top-color: #83c44e;
}
.star-items3{
	border-top-color: #2196f3;
}
.star-items4{
	border-top-color: #e53935; 
}
.big-box{
	width:100%;
	background-color: #f5f5f5;
	/* padding-top: 60px; */
}
.jiadian{
	width: 1226px;
	height: 686px;
	/* background-color: yellow */;
	margin:0 auto;

}
.jiadian-nav{
	/* background-color: yellowgreen; */
	float: right;
	margin-top: 16px;
}
.jiadian-nav li{
	float: left;
	border-bottom: 2px solid rgba(0, 0, 0, 0);
	padding-bottom: 2px;
	margin-left: 30px;
	color: #424242;
	font-size: 16px;
	cursor: pointer;
}
.jiadian-nav li:hover{
	color: #ff6700;
	border-bottom-color: #ff6700;
}
.jiadian-nav .jiadian-nav-active{
	color: #ff6700;
	border-bottom-color: #ff6700;

}
.jiadian-bottom{
	width: 1226px;
	height: 628px;
	/* background-color: pink; */
}
.jiadian-left{
	width: 234px;
	height: 614px;
	float: left;
}
.jiadian-left,.jidian-item,.star-item-tuijian,.bottom-repin1,.bottom-repin,.neirong-bottom1,.neirong-bottom11,.shipin-item1,.shipin-item1-4,.jidian-item-xiaobiao1{
	transition: all .3s linear;
}
.jiadian-left:hover,.jidian-item:hover,.star-item-tuijian:hover,.bottom-repin1:hover,.bottom-repin:hover,.neirong-bottom1:hover,.neirong-bottom11:hover,.shipin-item1:hover,.shipin-item1-4:hover,.jidian-item-xiaobiao1:hover{
	transform: translate(0, -10px);
	box-shadow: 0 5px 16px 1px #ccc;
}
.jiadian-right{
	width: 992px;
	height: 614px;
	float: left;
	/* background-color: blue; */
}
.jidian-item{
	width: 234px;
	height: 266px;
	background-color: #ffffff;
	float: left;
	margin-left: 14px;
	padding-top: 34px;
	margin-bottom: 14px;
}
.jidian-item-xiaobiao1{
	width: 234px;
	height: 300px;
	background-color: #ffffff;
	float: left;
	margin-left: 14px;
	margin-bottom: 14px;
}
.xiaobiao{
	width: 64px;
	height: 20px;
	background-color: #A8D683;
	margin-bottom: 14px;
	margin-left: 85px;
}
.xiaobiao2{
	width: 64px;
	height: 20px;
	background-color: #E53935;
	margin-bottom: 14px;
	margin-left: 85px;
}
.xinpin{
	font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #fff;
}
.jiadian-item1{
	width: 150px;
	height: 156px;
	display: block;
	margin: 0 auto;
}
.zhineng-item1{
	margin: 0;
}
.zhineng-item6{
	margin: 0;
}
.jiadian-item1-1{
	width: 234px;
	height: 300px;
	margin: 0 ;
	padding: 0;
}
.jiadian-item1-6{
	width: 234px;
	height: 300px;
	margin: 0 ;
	padding: 0;
}
.star-item4-1{
	margin-top: 3px;
	font-size: 14px;
	font-weight: 400;
	color: #fe6709;
	text-align: center;
}
.star-item3-1{
	font-size: 12px;
	font-weight: normal;
	color: #b0b0b0;
	text-align: center;
	margin-top: 12px;
}
.star-item4-11{
	font-size: 14px;
	font-weight: 400;
	color: #fe6709;
	text-align: center;
	margin-top: 31px;
}
.star-item5-tuijian{
	width: 234px;
	height: 261px;
	background-color: #fafafa;
	float: left;
	padding-top: 39px;
	/* margin-top: 39px; */
	margin-right: 0px;
}
.star-item-tuijian{
	width: 234px;
	height: 261px;
	background-color: #fff;
	float: left;
	padding-top: 39px;
	/* margin-top: 39px; */
	margin-right: 14px;
}
.star-anniu-1{
	float: right;
	width: 68px;
	height: 23px;
	margin-top: 15px;
	border:1px solid #e0e0e0;
}
.star-anniu-1.star-anniu-1-active{
	width: 33px;
	border-left: 1px solid #e0e0e0;
	color: #b0b0b0;
}
.star-anniu-1 span{
	float: left;
	width: 34px;
	height: 23px;
	text-align: center;
	line-height: 23px;
	font-size: 16px;
	color: #e0e0e0;
}
.bottom-repin{
	width: 296px;
	height: 415px;
	background-color: #fff;
	float: left;
	margin-left: 14px;
	margin-bottom: 14px;
}
.repin-photo{
	width: 296px;
	height: 220px;
	margin-bottom: 28px;
}
.repin-wenzi1{
	width: 240px;
	height: 50px;
	font-size: 14px;
    font-weight: 400;
    margin: 0 auto;
    padding-bottom: 22px;
    
}
.repin-wenzi2{
	width: 230px;
	height: 18px;
	margin: 0 auto;
    margin: 0 28px 8px;
    padding: 0 10px 0 0;
    font-size: 12px;
    color: #b0b0b0;
    font-weight: normal;
    float: left;
}
.repin-wenxi3-hezi{
	width: 236px;
	height: 22px;
	margin: 0 auto;
}
.repin-wenzi3-1{
	width: 120px;
	height: 21px;
	font-size: 14px;
	font-weight: 400;
	float: left;
}
.repin-wenzi3-2{
	float: left;
	font-weight: lighter;
	margin-left: 3.500px;
	margin-right: 3.500px;
	font-size: 14px;
	color: #e0e0e0;
}
.repin-wenzi3-3{
	width: 40px;
	height: 16px;
	color: #ff6700;
	float: left;
	font-size: 14px;
	font-weight: 400;
}
.star-bottom-1{
	width: 1226px;
	height: 314px;
}
.star-1{
	width: 1226px;
	height: 492px;
	margin : 0 auto;

}
.star-2{
	width: 1226px;
	height: 372px;
	margin : 0 auto;
}
.bottom-repin1{
	width: 296px;
	height: 415px;
	background-color: #fff;
	float: left;
	margin-bottom: 14px;
}
.neirong-bottom1{
	width: 296px;
	height: 374px;
	background-color: #fff;
	border-top: 1px solid #ffac13;
	margin-right: 14px;
	float: left;
	padding-top: 45px;	
}
.neirong-wenzi1{
	font-size: 16px;
	color: #ffac13;
	text-align: center;
	font-weight:normal;
	margin-bottom: 18px;
}
.neirong-wenzi2{
	width: 256px;
	height: 26px;
	font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 5px;
}
.neirong-wenzi3{
	width: 192px;
	height: 34px;
	font-size: 12px;
    text-align: center;
    color: #b0b0b0;
    font-weight: normal;
    margin: 0 auto;
    padding-bottom: 10px;
}
.neirong-wenzi4{
	width: 55px;
	height: 16px;
	margin: 0 auto;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	padding-bottom: 15px;
}
.neirong-photo{
	width: 216px;
	height: 154px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 30px
}
.neirong-lunbodian{
	width: 76px;
	height: 10px;
	/* background-color: yellowgreen; */
	margin: 0 auto;
}
.neirong-lunbodian img{
	width: 75px;
	height: 9px;
}
.neirong-bottom11{
	width: 296px;
	height: 374px;
	background-color: #fff;
	border-top: 1px solid #ffac13;
	margin-right: 0;
	float: left;
	padding-top: 45px;
}
.neirong-lunbodian2{
	width: 110px;
	height: 10px;
	/* background-color: yellowgreen; */
	margin: 0 auto;	
}
.neirong-lunbodian2 img{
	width: 110px;
	height: 10px;
	
	margin: 0 auto;	
}
.neirong-wenzi33{
	width: 192px;
	height: 34px;
	font-size: 12px;
    text-align: center;
    color: #b0b0b0;
    font-weight: normal;
    margin: 0 auto;
    padding-bottom: 40px;
}
.neirong-bottom1s{
	border-top: 1px solid #b8ca4e;
}
.neirong-wenzi1s{
	color: #b8ca4e;
}
.neirong-bottom2s{
	border-top: 1px solid #e53935;
}
.neirong-wenzi2s{
	color: #e53935;
}
.neirong-bottom11s{
	border-top: 1px solid #2196f3;
}
.neirong-wenzi3s{
	color: #2196f3;
}
.star-1-shipin{
	width: 1226px;
	height: 343px;
	margin : 0 auto;
}
.chakanquanbu{
	margin-right: 0;
	float: left;
}
/* .shipin-bottom{
	width: 1226px;
	height: 299px;
} */
.shipin-item1{
	width: 296px;
	height: 285px;
	background-color: #fff;
	margin-bottom: 14px;
	float: left;
	margin-right: 14px;
	position: relative;
}
.item1-photo{
	margin-bottom: 28px;
}
.bofanganniu{
	width: 32px;
	height: 30px;
	position: absolute;
	left: 20px;
    bottom: 110px;
}
.bofanganniu:hover{
	background-color: #ff6700;
}
.shipin-wenzi1{
	width: 174px;
	height: 16px;
	font-size: 14px;
    font-weight: 400;
    color: #333;
    margin-left: 55px;
    margin-bottom: 10px;
    text-align: center;
}

.shipin-wenzi2{
	text-align: center;
	font-size: 12px;
    color: #b0b0b0;
    margin: 0 auto;
    font-weight: 400;
}
.shipin-item1-4{
	width: 296px;
	height: 285px;
	background-color: #fff;
	margin-bottom: 14px;
	float: left;
	margin-right: 0px;
	position: relative;
}
.shipin-wenzi1-2{
	margin-left: 61px;
}
.zhandiandiyubigbottom{
	width: 100%;
	height: 272px;
	background-color: #fff;
}
.zhandianditulitterbottom{
	width: 100%;
	height: 272px;
	margin-top: 70px;
}
.ditu-daohang-top{
	width: 1226px;
	height: 79px;
	/* background-color: red; */
	margin: 0 auto;
	border-bottom: 1px solid #e0e0e0;
}
.ditu-wenzi1{
	width: 190px;
	height: 17px;
	font-size: 16px;
    font-weight: normal;
    text-align: center;
    float: left;
    margin-top: 31px;
    margin-left: 20px;
    color: #616161;

}
.ditu-wenzi1:hover,.ditu-wenzi1 span:hover{
	color: #ff6700;
}
.ditu-wenzi1 span{
	font-size: 15.5px;
	font-family: 'iconfont'; 
	float: left;
	margin-left: 50px;
	/* color: #616161; */
}

.ditu-shuxian1{
	color:#e0e0e0;
	font-size:15px;
	line-height:40px;
	float:left;
	margin:18px 0px 18px 27px;
	font-weight: lighter;
}
.zhandiandituzuoxia-bottom{
	width: 1226px;
	height: 111px;
	padding-top: 42px;
	margin: 0 auto;
}
.zuoxia-bottom1{
	width: 160px;
	height: 112px;
	float: left;
}
.bangzhuzhongxin{
	margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
    font-weight: 400;
}
.zhanghuguanli{
	font-size: 12px;
	color: #757575;
	padding-bottom: 10px;
	font-weight: 400;	
}
.zhanghuguanli:hover{
	color: #ff6700;
}
.ditushuxian{
	width: 1px;
	height: 112px;
	background-color: :#e0e0e0 ;
	float: left;
	margin-left: 975px;
}
.s{
	border-right:1px solid #e0e0e0;
}
.zuoxia-bottom-you{
	padding-left:65px;
	float: left;
}
.youxia-bottom{
	width: 265px;
	height: 112px;
	float: left;
}
.dianhua{
	width: 265px;
	height: 22px;
	text-align: center;
	margin-bottom: 20px;
	font-size: 22px;
    line-height: 1;
    color: #ff6700;
    font-weight: 400;
}
.shijian{
	width: 265px;
	height: 36px;
	/* margin-bottom: 16px; */
	text-align: center;
	font-size: 12px;
	color: #616161;
	line-height: 1;
	font-weight: 400;
}
.kuangkuang{
	width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    border: 1px solid #ff6700;
    background: #fff;
    color: #ff6700;
    margin: 0 auto;
    text-align: center;
}
.zuidibuxinxi{
	width: 1226px;
	height: 106px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 0 auto;
	/* background-color: yellowgreen; */
}
.dibulogo{
	width: 57px;
	height: 57px;
	float: left;
	margin: 0 auto;
	padding-right: 10px;
}.dibudaohang{
	height: 19px;
	width: 600px;
	/* background-color: red; */	
}
.head-shuxians{
	color:#757575;
	font-size:12px;
	float:left;
	margin:0 ;
	padding-left: 2px;
	padding-right: 2px;
}
.head-wenzis{
	color: #757575;
	font-size: 12px;
	float:left;
	letter-spacing: 2px；
}
.head-wenzis:hover{
	color: #ff6700;
}
.beian{
	width: 1226px;
	height: 36px;
	/* background-color: blue; */
}
.beian-xinxi{
	width: 590px;
	font-size: 10px;
	color: #bcb0b0;
	font-weight: lighter;
	/* letter-spacing: 2px; */
	float: left; 
}
.rongyu{
	width: 60px;
	height: 28px;
	/* background-color: yellow; */
	float: right;
	margin: 0 auto;
	padding-left: 10px;

}
.slogan{
	margin:30px 480px 0 480px;
	
}
.photo5{
	float: right;
	margin-right: 0;
}
.photo5-1{
	width: 84px;
	height: 28px;
	float: right;
}
/* banner部分 */
.banner{
	width: 1226px;
	height: 460px;
	background-color: pink;
	margin: 0 auto;
	position: relative;
}
.banner-img{
	width: 100%;
	height: 100%;
	background-color: yellow;
}
.banner-img img{     /* 后代选择器 */
	width: 100%;
	height: 100%;
}
.banner-nav{
	width: 234px;
	height: 420px;
	background-color: rgba(0, 0, 0, .6);
	position: absolute;
	left: 0;
	top: 0;
	padding: 20px 0;
	z-index: 999;
}
.banner-item{
	width: 174px;
	height: 42px;
	/* background-color: red; */
	padding: 0 30px;
	color: #fff;
	font-size: 14px;
	line-height: 42px

}
.banner-item span:nth-child(1){
	float: left;
}
.banner-item span:nth-child(2){
	float: right;
}
.banner-item:hover{
	background-color: #ff6700;
}
.banner-item-jiantou{
	width: 992px;
	height: 42px;
	background-color: red;
	padding: 0 30px;
	color: #fff;
	font-size: 14px;
	line-height: 42px;
}
.pinpu{
	width: 1226px;
	height: 170px;
	margin: 0 auto;
	padding-top: 14px;
}
.pintuleft-bottom{
	width: 228px;
	height: 164px;
	margin: 0 auto;
	background-color: #5F5750;
	padding: 3px;
	float: left;
}
.pintuleft-item{
	width: 70px;
	height: 64px;
	float: left;
	/* background-color: red; */
	color: rgba(255,255,255,0.7);
	padding-top:18px;	
}
.pinpu-photo{
	width: 316px;
	height: 170px;
	float: left;
	margin-left: 14px;
}
.pintuleft-item span:nth-child(1){
	font-size: 24px;
	font-family: 'iconfont';
}
.pintuleft-item span:nth-child(2){
	font-size: 12px;
}
.pintuleft-item span{
	display: block;
	text-align: center;
}
.pintu-shuxian{
	width: 1px;
	height: 70px;
	background-color:#665E57; 
	float: left;
	margin: 6px 4px 0;
}
.pintu-fenge{
	width: 64px;
	height: 1px;
	background-color:#665E57; 
	float: left;
	margin-right: 13px;

}
.pintu-fenge1{
	margin-left: 3px;
}
.pintu-fenge{
	margin-right:0;
}
.pintuleft-item:hover span{
	color:  #fff;
}
.swiper-button-prev{
	width: 41px!important;
	height: 69px!important;
	left: 234px!important;
	background: url('../img/icon-slides.png') no-repeat -84px 50%!important; /* !important设置最高级 */
	/* background-size: -84px 50% !important;
	background-position: 0 0 !important; */
}
.swiper-button-next{
	width: 41px!important;
	height: 69px!important;
	background: url('../img/icon-slides.png') no-repeat -124px 50%!important;

}
.swiper-button-prev:hover{
	background-position: 0 50%!important;
}
.swiper-button-next:hover{
	background-position: -42px 50%!important;
}
.swiper-pagination{
	color: #fff;
	left:auto!important;
	right: 30px!important;
	bottom: 20px!important;
	width: auto!important;
}
.swiper-pagination-bullet-active{
	color: #fff;
	border: 2px solid rgba(255, 255, 255, 0.3)!important;
	background: rgba(0, 0, 0, .7)!important;
}
.swiper-pagination-bullet{
	color: #fff;
	border: 2px solid rgba(255,255,255,.7)!important;
    background: rgba(0,0,0,0.4)!important;
}



